
@{
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
    ViewData["Title"] = "About US";
}

<section id="main" class="site-main site-about">
    <h2 class="none">Main</h2>
    <div class="engo-breadscrumb overlayo">
        <div class="container">
            <div class="row">
                <div class="breadcrumb">
                    <h2 class="title-breadscrumb"><span>We are Quato</span></h2>
                    <h3 class="des">We Are Always Working Hard To Build The Real Value</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="main-about clearfix">
                <div class="col-md-6 col-sm-6">
                    <div class="image-about">
                        <img src="~/images/about/img-content.png" alt="about">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <div class="title-about">
                            <h3 class="title"><span>What is Quato?</span></h3>
                            <div class="des">
                                <p>
                                    Genuine pleasure cigar, dynasty becoming respectable designer, noble status rare inspiring. Purebred cruise noble pedigree, yacht university suite. First-class, elegant panoramic symphony treasure with brilliant imported expensive inspiring five-star de-jour silver. Pearl cocktail topiary, world metropolitan.
                                </p>
                                <p>Topiary de-jour gold high-rise architectural butler elegant presidential, society ladies pleasure tailored benefactor wishlist ballroom. Guests reserved grande opulent salon property inspiring topiary philanthropic gifted grande educated purebred affluent. Respectable blissfull ballroom de-jour portfolio ambassador.</p>
                                <p>Readymade marfa blog, pitchfork food truck tofu jean shorts homo organic photo booth scenester. Tytar terry richardson, biodiesel banksy food truck leggings high life gluten-free locavore american apparel freegan whatever photo booth. Brunch high life wes anderson trust fund, jean shorts mustache coffee butcher stumptown squid trust fund echo park. Four loko wes anderson readymade messenger bag, biodiesel stumptown twee craft beer mcsweeney’s raw denim brunch DIY irony.</p>
                            </div>
                            <div class="social social-about">
                                <label> Share: </label>
                                <ul>
                                    <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                    <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro clearfix">
        <div class="item-intro">
            <div class="icon"><span class="pe-7s-tools"></span></div>
            <h3 class="title"><a href="#">Web Development</a></h3>
            <div class="des"><p>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</p></div>
        </div>
        <div class="item-intro">
            <div class="icon"><span class="pe-7s-mail-open-file"></span></div>
            <h3 class="title"><a href="#">Email Marketing</a></h3>
            <div class="des"><p>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</p></div>
        </div>
        <div class="item-intro">
            <div class="icon"><span class="pe-7s-paint"></span></div>
            <h3 class="title"><a href="#">Graphic Design</a></h3>
            <div class="des"><p>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</p></div>
        </div>
        <div class="item-intro">
            <div class="icon"><span class="pe-7s-graph"></span></div>
            <h3 class="title"><a href="#">Reliable Results</a></h3>
            <div class="des"><p>Integer ac massa vehicula, viverra augue et, auctor urna. Morbi nec enim et odio blandit tempor vitae sit amet est. Aenean non fringilla lacus, ultricies mi.</p></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="title-member">
                <h3 class="title"><span>Meet our team members</span></h3>
            </div>
            <div class="team-members">
                <div class="col-md-3 col-sm-4 col-xs-6 col-mb-12">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>Michael Vance</span></h3>
                            <div class="job">CEO & Founder</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 col-mb-12">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>ALICE BOGA</span></h3>
                            <div class="job">Web Developer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 col-mb-12">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>Andrew Lewis</span></h3>
                            <div class="job">Sales & Marketing Manager</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 col-mb-12">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>Charles Turner</span></h3>
                            <div class="job">Implementation Engineer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 col-mb-12">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>Sean Collins</span></h3>
                            <div class="job">Senior Web Developer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 col-mb-12">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>Michael Vance</span></h3>
                            <div class="job">CEO & Founder</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 hidden-sm">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>GARY BROOK</span></h3>
                            <div class="job">Designer</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 hidden-sm">
                    <div class="merber">
                        <div class="social social-member">
                            <ul>
                                <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" target="_blank" class="behance"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="images-merber">
                            <img src="~/images/about/member.jpg" alt="">
                        </div>
                        <div class="title-merber">
                            <h3 class="name"><span>Catherine Walker</span></h3>
                            <div class="job">Senior Designer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>