
@{
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
    ViewData["Title"] = "FAQ";
}
<section id="main" class="site-main site-faqs">
    <div class="engo-breadscrumb overlayo">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb ">
                    <li class="home"><a href="#">Home</a></li>
                    <li>
                        <a href="login.html">FAQS</a>
                    </li>
                    <li>FAQS</li>
                </ol>
            </div>
        </div>
    </div>
    <div id="main-container" class="container">
        <div class="row">
            <div id="toggle" class="toggle">
                <div class="col-md-5 col-sm-6">
                    <ul class="toggle-controls">
                        <li><a href="#toggle1">How do I become an author?</a></li>
                        <li><a href="#toggle2">Helpful Resources for Authors</a></li>
                        <li><a href="#toggle3">How much money can I make?</a></li>
                        <li><a href="#toggle4">Can I offer my items for free on a promotional basis?</a></li>
                        <li><a href="#toggle5">An Introduction to the Marketplaces for A  uthors</a></li>
                        <li><a href="#toggle6">How does the Tuts+ Premium affiliate program work?</a></li>
                        <li><a href="#toggle7">What Images, Videos, Code or Music Can I Use in my</a></li>
                        <li><a href="#toggle8">Items?</a></li>
                        <li><a href="#toggle9">Can I use trademarked names in my items?</a></li>
                        <li><a href="#toggle10">Tips for Increasing Your Referral Income</a></li>
                        <li><a href="#toggle11">How can I get support for an item which isn't working</a></li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-6">
                    <div id="toggle1" class="toggle-content">
                        <h3 class="toogle-title">Q. How do I become an author?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle1 -->

                    <div id="toggle2" class="toggle-content">
                        <h3 class="toogle-title">Q. Helpful Resources for Authors</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle2 -->

                    <div id="toggle3" class="toggle-content">
                        <h3 class="toogle-title">Q. How much money can I make?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                        <p>Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit! Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
                    </div><!-- #toggle3 -->

                    <div id="toggle4" class="toggle-content">
                        <h3 class="toogle-title">Q. Can I offer my items for free on a promotional basis?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle4 -->

                    <div id="toggle5" class="toggle-content">
                        <h3 class="toogle-title">Q. An Introduction to the Marketplaces for A  uthors</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle5 -->

                    <div id="toggle6" class="toggle-content">
                        <h3 class="toogle-title">Q. How does the Tuts+ Premium affiliate program work?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle6 -->

                    <div id="toggle7" class="toggle-content">
                        <h3 class="toogle-title">Q. What Images, Videos, Code or Music Can I Use in my</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle7 -->

                    <div id="toggle8" class="toggle-content">
                        <h3 class="toogle-title">Q. Items?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle8 -->

                    <div id="toggle9" class="toggle-content">
                        <h3 class="toogle-title">Q. Can I use trademarked names in my items?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle9 -->

                    <div id="toggle10" class="toggle-content">
                        <h3 class="toogle-title">Q. Tips for Increasing Your Referral Income</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle10 -->

                    <div id="toggle11" class="toggle-content">
                        <h3 class="toogle-title">Q. How can I get support for an item which isn't working</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempornesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae. Asperiores, provident, esse, doloremque, adipisci eaque alias dolore molestias assumenda quasi saepe nisi ab illo ex nesciunt nobis laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam.</p>
                    </div><!-- #toggle11 -->
                </div>
            </div>
        </div><!-- .row -->
    </div>
</section>