@{ ViewData["Title"] = "Completed"; }

<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="sorry-background" class="box info-bar main-boxshadow text-center" data-animate="fadeInUpBig">
                    <h3>Thanks!</h3>
                    <h4 class="text-muted"><strong>Your order is placed</strong></h4>
                    <p class="buttons">
                        <a class="btn btn-primary" asp-action="Index" asp-route-controller="Home"><i class="fa fa-home"></i>Back to shop</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
